-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "dateOfBirth" TIMESTAMP(3),
    "gender" TEXT,
    "phoneNumber" TEXT,
    "heightCm" DECIMAL(5,2) NOT NULL,
    "currentWeightKg" DECIMAL(5,2) NOT NULL,
    "targetWeightKg" DECIMAL(5,2),
    "activityLevel" TEXT NOT NULL DEFAULT 'moderate',
    "culture" TEXT,
    "religion" TEXT,
    "medicalConditions" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "medications" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "allergies" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "dietaryRestrictions" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "dislikes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "streakDays" INTEGER NOT NULL DEFAULT 0,
    "badges" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "privacyConsent" BOOLEAN NOT NULL DEFAULT false,
    "dataUsageConsent" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lastActiveAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meal_plans" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "duration" TEXT NOT NULL,
    "avgCalories" DECIMAL(10,2) NOT NULL,
    "avgProteinG" DECIMAL(10,2) NOT NULL,
    "avgCarbsG" DECIMAL(10,2) NOT NULL,
    "avgFatG" DECIMAL(10,2) NOT NULL,
    "avgSodiumMg" DECIMAL(10,2) NOT NULL,
    "avgSugarG" DECIMAL(10,2),
    "akgCompliance" DECIMAL(5,2) NOT NULL,
    "localFoodPercentage" DECIMAL(5,2) NOT NULL,
    "medicalSafetyScore" DECIMAL(5,2) NOT NULL,
    "userRating" DECIMAL(3,1),
    "adherenceScore" DECIMAL(5,2),
    "userFeedback" TEXT,
    "generatedBy" TEXT NOT NULL DEFAULT 'llm',
    "llmPromptUsed" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "meal_plans_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meal_plan_days" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "mealPlanId" UUID NOT NULL,
    "mealDate" TIMESTAMP(3) NOT NULL,
    "dayNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "meal_plan_days_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meals" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "description" TEXT,
    "portion" TEXT NOT NULL,
    "calories" DECIMAL(10,2) NOT NULL,
    "proteinG" DECIMAL(10,2) NOT NULL,
    "carbsG" DECIMAL(10,2) NOT NULL,
    "fiberG" DECIMAL(10,2),
    "fatG" DECIMAL(10,2) NOT NULL,
    "saturatedFatG" DECIMAL(10,2),
    "sodiumMg" DECIMAL(10,2) NOT NULL,
    "sugarG" DECIMAL(10,2),
    "cholesterolMg" DECIMAL(10,2),
    "vitaminC" DECIMAL(10,2),
    "vitaminD" DECIMAL(10,2),
    "vitaminE" DECIMAL(10,2),
    "vitaminK" DECIMAL(10,2),
    "vitaminA" DECIMAL(10,2),
    "calcium" DECIMAL(10,2),
    "iron" DECIMAL(10,2),
    "magnesium" DECIMAL(10,2),
    "phosphorus" DECIMAL(10,2),
    "potassium" DECIMAL(10,2),
    "zinc" DECIMAL(10,2),
    "isLocalFood" BOOLEAN NOT NULL DEFAULT true,
    "isCultureApproved" BOOLEAN NOT NULL DEFAULT false,
    "medicalSafetyNotes" TEXT,
    "preparationTips" TEXT,
    "culturalSignificance" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "meals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meal_ingredients" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "mealId" UUID NOT NULL,
    "foodId" UUID NOT NULL,
    "quantity" DECIMAL(10,2) NOT NULL,
    "unit" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "meal_ingredients_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meal_plan_day_meals" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "mealPlanDayId" UUID NOT NULL,
    "mealId" UUID NOT NULL,
    "mealType" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "meal_plan_day_meals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "local_foods" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "commonNames" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "category" TEXT NOT NULL,
    "origin" TEXT,
    "calories" DECIMAL(10,2) NOT NULL,
    "proteinG" DECIMAL(10,2) NOT NULL,
    "carbsG" DECIMAL(10,2) NOT NULL,
    "fiberG" DECIMAL(10,2),
    "fatG" DECIMAL(10,2) NOT NULL,
    "saturatedFatG" DECIMAL(10,2),
    "sodiumMg" DECIMAL(10,2) NOT NULL,
    "sugarG" DECIMAL(10,2),
    "cholesterolMg" DECIMAL(10,2),
    "vitaminC" DECIMAL(10,2),
    "vitaminD" DECIMAL(10,2),
    "vitaminE" DECIMAL(10,2),
    "vitaminK" DECIMAL(10,2),
    "vitaminA" DECIMAL(10,2),
    "calcium" DECIMAL(10,2),
    "iron" DECIMAL(10,2),
    "magnesium" DECIMAL(10,2),
    "phosphorus" DECIMAL(10,2),
    "potassium" DECIMAL(10,2),
    "zinc" DECIMAL(10,2),
    "seasonsAvailable" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "estimatedCostPerKgRp" INTEGER,
    "storageLife" TEXT,
    "isVegetarian" BOOLEAN NOT NULL DEFAULT false,
    "isVegan" BOOLEAN NOT NULL DEFAULT false,
    "isHalal" BOOLEAN NOT NULL DEFAULT true,
    "isKosher" BOOLEAN DEFAULT false,
    "commonAllergies" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "contraindications" JSONB,
    "benefits" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "culturalSignificance" JSONB,
    "commonPreparations" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "cookingTips" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "local_foods_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "food_alternatives" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "mealId" UUID NOT NULL,
    "alternativeFoodId" UUID NOT NULL,
    "reason" TEXT NOT NULL,
    "substitutionRatio" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "food_alternatives_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "biomarker_records" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "recordedAt" TIMESTAMP(3) NOT NULL,
    "weightKg" DECIMAL(5,2),
    "heightCm" DECIMAL(5,2),
    "bmi" DECIMAL(5,2),
    "systolicBp" INTEGER,
    "diastolicBp" INTEGER,
    "bpMeasurementTime" TEXT,
    "bloodGlucose" INTEGER,
    "hba1c" DECIMAL(5,2),
    "totalCholesterol" INTEGER,
    "ldlCholesterol" INTEGER,
    "hdlCholesterol" INTEGER,
    "triglycerides" INTEGER,
    "notes" TEXT,
    "source" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "biomarker_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "conversations" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID NOT NULL,
    "sessionId" TEXT,
    "currentMealPlanId" UUID,
    "topic" TEXT,
    "isArchived" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "conversations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "chat_messages" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "conversationId" UUID NOT NULL,
    "role" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "structuredData" JSONB,
    "llmModel" TEXT,
    "tokensUsed" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "chat_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "meal_plan_feedback" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "mealPlanId" UUID NOT NULL,
    "userId" UUID NOT NULL,
    "rating" DECIMAL(3,1),
    "adherenceScore" DECIMAL(5,2),
    "feedback" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "meal_plan_feedback_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "kpi_metrics" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "userId" UUID,
    "metricName" TEXT NOT NULL,
    "metricValue" DECIMAL(10,2) NOT NULL,
    "periodStart" TIMESTAMP(3) NOT NULL,
    "periodEnd" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "kpi_metrics_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_email_idx" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_createdAt_idx" ON "users"("createdAt");

-- CreateIndex
CREATE INDEX "meal_plans_userId_createdAt_idx" ON "meal_plans"("userId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "meal_plan_days_mealPlanId_idx" ON "meal_plan_days"("mealPlanId");

-- CreateIndex
CREATE INDEX "meals_isLocalFood_idx" ON "meals"("isLocalFood");

-- CreateIndex
CREATE INDEX "meal_ingredients_mealId_idx" ON "meal_ingredients"("mealId");

-- CreateIndex
CREATE INDEX "meal_ingredients_foodId_idx" ON "meal_ingredients"("foodId");

-- CreateIndex
CREATE INDEX "meal_plan_day_meals_mealPlanDayId_idx" ON "meal_plan_day_meals"("mealPlanDayId");

-- CreateIndex
CREATE INDEX "meal_plan_day_meals_mealId_idx" ON "meal_plan_day_meals"("mealId");

-- CreateIndex
CREATE INDEX "local_foods_category_idx" ON "local_foods"("category");

-- CreateIndex
CREATE INDEX "local_foods_origin_idx" ON "local_foods"("origin");

-- CreateIndex
CREATE INDEX "local_foods_name_idx" ON "local_foods"("name");

-- CreateIndex
CREATE INDEX "food_alternatives_mealId_idx" ON "food_alternatives"("mealId");

-- CreateIndex
CREATE INDEX "food_alternatives_alternativeFoodId_idx" ON "food_alternatives"("alternativeFoodId");

-- CreateIndex
CREATE INDEX "biomarker_records_userId_recordedAt_idx" ON "biomarker_records"("userId", "recordedAt" DESC);

-- CreateIndex
CREATE INDEX "conversations_userId_createdAt_idx" ON "conversations"("userId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "chat_messages_conversationId_createdAt_idx" ON "chat_messages"("conversationId", "createdAt" DESC);

-- CreateIndex
CREATE INDEX "meal_plan_feedback_mealPlanId_idx" ON "meal_plan_feedback"("mealPlanId");

-- CreateIndex
CREATE INDEX "meal_plan_feedback_userId_idx" ON "meal_plan_feedback"("userId");

-- CreateIndex
CREATE INDEX "kpi_metrics_metricName_periodStart_periodEnd_idx" ON "kpi_metrics"("metricName", "periodStart", "periodEnd");

-- AddForeignKey
ALTER TABLE "meal_plans" ADD CONSTRAINT "meal_plans_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_plan_days" ADD CONSTRAINT "meal_plan_days_mealPlanId_fkey" FOREIGN KEY ("mealPlanId") REFERENCES "meal_plans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_ingredients" ADD CONSTRAINT "meal_ingredients_mealId_fkey" FOREIGN KEY ("mealId") REFERENCES "meals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_ingredients" ADD CONSTRAINT "meal_ingredients_foodId_fkey" FOREIGN KEY ("foodId") REFERENCES "local_foods"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_plan_day_meals" ADD CONSTRAINT "meal_plan_day_meals_mealPlanDayId_fkey" FOREIGN KEY ("mealPlanDayId") REFERENCES "meal_plan_days"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_plan_day_meals" ADD CONSTRAINT "meal_plan_day_meals_mealId_fkey" FOREIGN KEY ("mealId") REFERENCES "meals"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "food_alternatives" ADD CONSTRAINT "food_alternatives_mealId_fkey" FOREIGN KEY ("mealId") REFERENCES "meals"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "food_alternatives" ADD CONSTRAINT "food_alternatives_alternativeFoodId_fkey" FOREIGN KEY ("alternativeFoodId") REFERENCES "local_foods"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "biomarker_records" ADD CONSTRAINT "biomarker_records_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "conversations" ADD CONSTRAINT "conversations_currentMealPlanId_fkey" FOREIGN KEY ("currentMealPlanId") REFERENCES "meal_plans"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "chat_messages" ADD CONSTRAINT "chat_messages_conversationId_fkey" FOREIGN KEY ("conversationId") REFERENCES "conversations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_plan_feedback" ADD CONSTRAINT "meal_plan_feedback_mealPlanId_fkey" FOREIGN KEY ("mealPlanId") REFERENCES "meal_plans"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "meal_plan_feedback" ADD CONSTRAINT "meal_plan_feedback_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

